<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mert.pokemongoelkitabi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_uygulama"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kurulumActivity"
            android:label="Kurulum"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Oyun"
            android:label="Nasıl Oynanır"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Terimler"
            android:label="Terimler Sözlüğü"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PokemonActiviy"
            android:label="Pokedex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Bilgi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mert.pokemongoelkitabi.PokemonActiviy" />

        </activity>
    </application>

</manifest>